body {
  background-color: #CDF0EA;
}

h1{
  color: #39A2DB;
}

h3{
  color: #77ACF1;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%
}
